body,
html {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  margin: 0px;
}

body {
  background: radial-gradient(#1cb5e0 0%, #000851 100%);
}

.hero {
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

  .title {
    font-family: "Courier New", Courier, monospace;
    font-size: 30pt;
    color: white;
    margin-bottom: 5px;
  }

  .subtitle {
    font-family: "Helvetica", "Arial", sans-serif;
    font-size: 12pt;
    color: #095a96;
    margin-bottom: 30px;
    font-weight: 300;
  }

  a {
    font-family: "Helvetica", "Arial", sans-serif;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid white;
    color: white;
    font-size: 20px;
    font-weight: 300;

    &:hover {
      background-color: #0b609b;
      border-color: #0b609b;
    }
  }
}
