$footer-height: 100px;

.content {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

footer {
  width: 100%;
  height: $footer-height;
  line-height: $footer-height;
  background-color: #f5f5f5;
}

div.code {
  padding: 1rem;
  font-family: monospace;
  white-space: pre;

  // https://github.com/wcoder/highlightjs-line-numbers.js/#usage
  .hljs-ln-numbers {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    text-align: center;
    color: #ccc;
    border-right: 1px solid #ccc;
    vertical-align: top;
    padding-right: 5px;
  }

  // https://github.com/wcoder/highlightjs-line-numbers.js/#usage
  .hljs-ln-code {
    padding-left: 10px;
  }
}

.red {
  color: red;
}

a.anchor {
  display: block;
  position: relative;
  visibility: hidden;
}

#btn-back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
  padding-left: 13px;
  padding-right: 13px;
}
